@import '../../../assets/styles/variables.scss';


.Button{
    border-radius: 100px;
    border:none;
    outline: none !important;
    background: $red1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    cursor: pointer;

    span{
        font-size: 22px;
        color: $white;
    }

    img{
        height: 24px;
    }
}