@import '../../assets/styles/variables.scss';


.PopupCase__arrow{
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 15px;
    width: 50px;
    top:15px;
    height: calc(100% - 75px);
    background: linear-gradient(-89.6deg, rgba(0, 0, 0, 0.6) 11.52%, rgba(0, 0, 0, 0) 78.27%);
    border:none;
    outline: none !important;

    img{
        width: 30px;
    }
}

.leftArrow{
    border-radius: 5px 0 0 5px;
    position: absolute;
    left: 15px;
    position: absolute;
    width: 50px;
    height: calc(100% - 75px);
    top:15px;
    background: linear-gradient(89.6deg, rgba(0, 0, 0, 0.6) 11.52%, rgba(0, 0, 0, 0) 78.27%);
    border:none;
    outline: none !important;

    img{
        width: 30px;
    }
}