@import "../../assets/styles/variables.scss";

.ItemCustomize {
    padding: 15px;
    background: $grey2;
    height: max-content;

    &__title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 30px;
    }
}
