@import '../../assets/styles/variables.scss';

.CustomizeInteriorRemplate{
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 30% 70%;
    background: $grey2;

    &__wrapItem{
        align-self: center;
        justify-self: center;
    }

    &__customize{
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 100%;
        max-height: 630px;
        height: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: flex-end;
        margin-right: 100px;
        background: $grey2;
    }

    &__block{
        width: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        background: $white;
        padding: 15px;
        margin-bottom: 15px;
    }
}