@import '../../assets/styles/variables.scss';

.CustomizeInteriorRemplate{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    background: $grey2;

    &__wrapItem{
        display: flex;
        justify-content: center;
        width: 30%;
        padding: 50px 15px;
    }

    &__customize{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: calc(100vh - 70px);
        align-items: center;
        justify-content: center;
        background: $grey2;
        padding: 50px;
    }

    &__block{
        max-width: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        background: $white;
        padding: 15px;
        margin-bottom: 15px;
        overflow: auto;
        

        .itemWrap{
            background: $grey2;
        }
    }
    &__wrapButton{
        padding: 0 50px;
        width: 100%;
    }
}