@import '../../assets/styles/variables.scss';

.CustomizeInteriorRemplate {
    width: 100%;
    // height: calc(100vh - 70px);
    // display: flex;
    // background: $grey2;
    // padding: 30px 15px;
    // overflow: auto;
}

.summary {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 20px;

    &__total {
        font-style: normal;
        font-weight: 450;
        font-size: 24px;
        line-height: 150%;
    }

    &__item {
        font-size: 16px;
        line-height: 150%;
        color: #2f1b1d;
        margin-top: 5px;

        // &:not(:last-child) {
        // }
    }

    &__action {
        margin-top: 20px;
    }
}
