@import '../../assets/styles/variables.scss';


.TabUnderCategory {

    li {
        height: 35px;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $text;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        background: $grey2;
        cursor: pointer;
    }
    .active{
        background: $green;
        color:$white;
    }
}
