@import "../../assets/styles/variables.scss";

.SelectFloorPlanTemplate {
  
    background: $grey2;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 30px;
    overflow: hidden;

    &__innerContainer {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        column-gap: 15px;
        row-gap: 15px;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: auto;

        
    }
}
