@import '../../assets/styles/variables.scss';


.Item{
    position: relative;
    background: $grey2;
    box-sizing: border-box;
    width: 350px;

    &__number{
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        background: $black;
        color: $white;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px;
        left: -10px;
    }

    &__wrapImg{
        width: 100%;
        height: 300px;
        background: $white;
        padding: 15px;
        margin-bottom: 15px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapStats{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
        margin-bottom: 30px;
    }

    &__stats{
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 22px;
        font-weight: bold;
    }
}

