$red1:rgb(209,37,61);
$red2:#ac000e;
$red2:rgb(238,65,36);
$grey1:rgb(149,149,149);
$grey2:rgb(240,242,247);
$purpure:rgb(120,48,255);
$yellow:rgb(245,179,10);
$white:rgb(255,255,255);
$black:rgb(0,0,0);

$grey1:#EAEAEA;
$grey2:#F7F8FC;
$text:#2F1B1D;
$green:#25D1A0;
$bg:#F7F8FC;

$t:#a3a0a0;
