$red1:rgb(209,37,61);
$red2:rgb(172,0,14);
$red2:rgb(238,65,36);
$grey1:rgb(149,149,149);
$grey2:rgb(240,242,247);
$purpure:rgb(120,48,255);
$yellow:rgb(245,179,10);
$white:rgb(255,255,255);
$black:rgb(0,0,0);
