.googleMap {
  width: 100%;
  height: calc(100vh - 70px);
}

.map-title {
  background-color: white;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  // padding-bottom: 35px;
}
