body, h1, h2{
    margin:0;
    padding:0;
    font-family:'Avenir Next Cyr';
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

.containerMasters_PopupCase{
    /* border:1px solid green; */
    width: 100%;
    height: 100%;
    background: white;
    margin-bottom: 30px;
} 

.ReactCarousel_PopupCase{
    width: 100%;
    height: 100%;
}
.react-multi-carousel-track {
    height: 100%;
}

.dotListClass_PopupCase{
bottom:25px;
}

.dotListClass_PopupCase .react-multi-carousel-dot button {
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 30px;
}
