@import "../../assets/styles/variables.scss";

.DetailedFloorPlanTemplate {
    width: 100%;
    height: calc(100vh - 70px);
    background: $grey2;
    padding: 30px 0;

    .wrapSlider{
        max-height: 665px;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
}
